$theme-colors: (
        "navy-blue": #002073,
        "coral-red": #FC5B47,
        "pink": #E1C2EB,
        "green": #00BD9E,
        "sky-blue": #51BDDF,
        "grey-bg": #F2F2F2,
        "transparant": rgba(0, 0, 0, 0),
);

.btn {
  &-rounded {
    border-radius: 20px !important;
  }

  &-color-brand-primary {
    background-color: #002073 !important;
    color: white !important;
  }

  &-color-brand-secondary {
    background-color: #00BD9E !important;
    color: white !important;
  }
  &-color-brand-outline-secondary {
    border: 1px solid #00BD9E !important;
    color:  #00BD9E  !important;
  }
}

//custom css general
label, a, p, h1, h2, h3, h4, h5, h6, span, small{
  font-family: sofia-pro, sans-serif !important;
}
//legal links

.legal {
  top: 16px !important;
  font-family: "sofia-pro, sans-serif";
  font-size: 0.75em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  color: #000000;

  &::after {
    font-family: "Font Awesome 5 Pro";
    content: '\f061';
    margin-left: 0.5em;
    font-size: 1em;
    color: #FC5B47;
    transition: 0.25s ease-in-out;
  }

}

a, .legal:hover {
  text-decoration: none;
  color: #000000;

  &::after {
    margin-left: 1.5em;
  }
}

// effects
.drop-shadow {
  box-shadow: 0 10px 34px 0 #d5d5d5;
}
@import '~bootstrap/scss/bootstrap';


