#features{
  background-color: $yellow;
}

.feature{
  &-wrapper{
    top: 10px;
    width: auto;
  }
  &-title{
    font-family: $brand-font-title;
    font-weight: 700;
    font-size: 2em;
    color: $white;
    top: 60px;
  }
}

.feature-item{
  &-icon{
    font-size: 2.5em;
    color: $white;
  }
  &-title{
    font-family: $brand-font-title;
    font-size: 1.6em;
    color: $white;
    font-weight: 700;
    line-height: 1.5;
  }
  &-body{
    font-family: $brand-font-title;
    font-size: 1em;
    color: $white;
    font-weight: 300;
    line-height: 1.5;

  }
}
