#hero {
  height: 600px;
  background-color: #F2F2F2;
  background-image: url(../assets/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  padding: 20px;
  vertical-align: middle;

  &-wrapper {
    @extend .hero;
    top: 25%;
    width: auto;
    position: absolute;
  }

  &-down {
    bottom: 0px;
    //margin-top: 10px;
    margin-left: 50%;
    margin-right: 50%;
  }

  &-title {
    font-family: $brand-font-title;
    font-weight: 700;
    font-size: 5em;
    color: $white;
  }

  &-cover {
    @extend .hero;
    width: 100%;
    height: 100%;
  }

  &-text {
    color: $white;
    font-family: $brand-font-title;
    font-size: 1em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
  }

  &-icon {
    position: sticky;
    color: $white;
    font-size: 2em;
    text-align: center;
    transition: 0.25s;

    &:hover {
      transform: scale(1.2);
      transition: 0.25s;
    }
  }
}
