// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .hero-wrapper{
  top: 100px !important;
}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .hero-wrapper{
    top: 15%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .hero-wrapper{
    top: 120px !important;
  }
}

@media (max-width: 1023.98px) {
  .hero-wrapper{
    top: 20% !important;
  }
}


// Large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
