// transitions for vue components

//fade start
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
//fade end

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}
