<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>De Vooruitdaging</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but devooruitdaging doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          //navigator.serviceWorker.register('/devooruitdaging/sw.js');
          navigator.serviceWorker.getRegistrations().then(

                  function(registrations) {

                    for(let registration of registrations) {
                      registration.unregister();

                    }

                  });
        });
      }
    </script>
  </body>
</html>
