<template>
    <div>
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row" id="hero">
                <div class="hero-wrapper">
                    <app-SocialMedia></app-SocialMedia>
                    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 offset-lg-2 offset-md-2 mb-5 ">
                        <h1 class="hero-title">{{translations.hero.title}}</h1>
                        <p class="hero-text mt-3" >{{translations.hero.description}}</p>
                        <!--<button class="btn btn-outline-info btn-lg btn-rounded mb-4">Ontdek de Vooruitdaging</button>-->
                    </div>
                    <div class="hero-down d-none d-md-block d-lg-block d-xl-block">
                        <div class="col-12 text-center align-text-bottom">
                            <a @click="scrollToInfoSection">
                                <font-awesome-icon
                                        class="hero-icon"
                                        :icon="['fal','chevron-circle-down']"
                                />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-content-download></app-content-download>
        <div class="container-fluid" style="background-color: #ffc107;">
            <div class="container">
                <div class="row match-height justify-content-md-center" id="features">
                    <div class="col-12 feature-wrapper mt-3">
                        <h1 class="feature-title text-center">{{translations.labels.labelGiveADayMatch}}</h1>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3 mb-5 d-inline-block">
                        <div>
                            <a href="https://www.giveaday.be/nl-be/vrijwilligerswerk/zoeken" target="_blank">
                                <div class="card mt-3 drop-shadow " style="height: auto; border: none;">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                        </div>
                                        <div class="col-12 text-center">
                                            <h1 class="feature-item-title" style="color: #002073">{{translations.giveAdayInfo[0].title}}
                                            </h1>
                                        </div>
                                        <div class="col-12 card-body text-center">
                                            <p class="feature-item-body mt-1" style="color: black">
                                                {{translations.giveAdayInfo[0].description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3 mb-5 d-inline-block">
                        <div>
                            <a href="https://www.giveaday.be/nl-be/vrijwilligerswerk/zoeken" target="_blank">
                                <div class="card mt-3 drop-shadow " style="height: auto; border: none;">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                        </div>
                                        <div class="col-12 text-center">
                                            <h1 class="feature-item-title" style="color: #002073">{{translations.giveAdayInfo[1].title}}
                                            </h1>
                                        </div>
                                        <div class="col-12 card-body text-center">
                                            <p class="feature-item-body mt-1" style="color: black">{{translations.giveAdayInfo[1].description}}                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-contact-form></app-contact-form>
        <app-partners></app-partners>
        <app-scroll-to icon="chevron-circle-up" iconType="fal"></app-scroll-to>
        <app-cookie></app-cookie>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from '../components/Header.vue'
    import socialMedia from '../components/SocialMediaSideBar.vue'
    import footer from '../components/Footer.vue'
    import contactForm from '../components/ContactForm.vue'
    import srollToTop from '../components/ScrollToElement.vue'
    import contentDownload from '../components/ContentDownloadSubscription.vue'
    import cookiebox from '../components/Cookiebox.vue'
    import partnerShips from '../components/Partnerships.vue'
    import { mapState } from "vuex";

    export default {
        components: {
            appSocialMedia: socialMedia,
            appFooter: footer,
            appContactForm: contactForm,
            appHeader: Header,
            appScrollTo: srollToTop,
            appContentDownload: contentDownload,
            appCookie: cookiebox,
            appPartners: partnerShips,

        },
        data() {
            return {
                backgroundImage: require('../assets/images/cover.jpg'),
                backgroundImageSignUp: require('../assets/images/sign_up.png'),
                formData: {
                    firstName: '',
                    lastName: '',
                    emailAddress: '',
                    KeepMePosted: '',
                    typeUser: 'T',
                },
            }
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },
        methods: {
            scrollToInfoSection() {
                let element = document.getElementById("contentDownload");
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            },
        },
        metaInfo: {
            title: "De Vooruitdaging",
            meta: [
                { name: "description", content: "Learn coding with our free tutorials" },
                { name: "keywords", content: "react,vue,angular" }
                //you can also add open graph tags here
            ]
        }
    }
</script>

<style lang="scss">
    @import "src/assets/scss/main.scss";
    @import "src/assets/scss/hero.scss";
    @import "src/assets/scss/features.scss";


    #contentDownload {
        background-image: url(../assets/images/sign_up.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #subscribeNewsletter {
        background-image: url(../assets/images/footer_section.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .drop-shadow {
        box-shadow: 0 10px 34px 0 rgba(0, 0, 0, 0.3);
    }
    a:hover{
        text-decoration: none;
    }
    .card{
        transition: 0.25s ease-in-out;
    }
    .card:hover{
        transition: 0.25s ease-in-out;
        transform: scale(1.02);
        background-color: #f9f9f9;
    }

</style>
