<template>
    <div id="contentDownload" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <h1 class="title" v-if="formData.typeData == 'VW' ">
                                {{translations.contentDownloadText[0].title}}</h1>
                            <h1 class="title" v-else>{{translations.contentDownloadText[1].title}}</h1>
                        </div>
                        <div class="row mt-3 mb-5">
                            <p class="text" v-if="formData.typeData == 'VW' ">
                                {{translations.contentDownloadText[0].description}}
                            </p>
                            <p class="text" v-else> {{translations.contentDownloadText[1].description}}
                            </p>
                        </div>
                        <div class="row">
                            <div class="mt-3 mb-5">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn"
                                            :class="formData.typeData == 'P' ? 'btn-color-brand-secondary' : 'btn-color-brand-outline-secondary'"
                                            value="S"
                                            @click="switchTypeUser">{{translations.labels.labelProjects}}
                                    </button>
                                    <button type="button" class="btn"
                                            :class="formData.typeData == 'VW' ? 'btn-color-brand-secondary' : 'btn-color-brand-outline-secondary'"
                                            value="T"
                                            @click="switchTypeUser">{{translations.labels.labelVolunteering}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 offset-lg-1 offset-xl-1 mt-lg-5 mt-xl-5 mb-5">
                    <section>
                        <!-- Begin Mailchimp Signup Form-->
                        <div id="mc_embed_signup" class="form-group">
                            <form :action="formData.typeData == 'VW'? 'https://giveaday.us12.list-manage.com/subscribe/post?u=61438064979b75e859e849f96&amp;id=17dca2b996' : 'https://giveaday.us12.list-manage.com/subscribe/post?u=61438064979b75e859e849f96&amp;id=f9fa6c1c3e'  "
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <div class="form-group">
                                    <label for="mce-ORG">{{translations.labels.labelSchoolOrganisations}}</label>
                                    <input type="text" class="form-control" id="mce-ORG" name="MMERGE5"
                                           :placeholder="translations.placeholders.placeholderSchoolOrganisation"
                                           value="">
                                </div>
                                <div class="form-group">
                                    <label for="mce-FNAME">{{translations.labels.labelFirstName}}</label>
                                    <input type="text" class="form-control" id="mce-FNAME" name="FNAME"
                                           :placeholder="translations.placeholders.placeholderFirstname"
                                           value="">
                                </div>
                                <div class="form-group">
                                    <label or="mce-LNAME">{{translations.labels.labelLastName}}</label>
                                    <input type="text" class="form-control" id="mce-LNAME"
                                           :placeholder="translations.placeholders.placeholderLastname"
                                           value="" name="LNAME">
                                </div>
                                <div class="form-group">
                                    <label for="mce-EMAIL">{{translations.labels.labelEmailAddress}}</label>
                                    <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL"
                                           aria-describedby="emailHelp"
                                           :placeholder="translations.placeholders.placeholderEmailAddress"
                                           value="">
                                    <small id="emailHelp" class="form-text text-muted">{{translations.labels.labelEmailWarning}}</small>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                        type="text" name="b_4c2724bf79b9b3c0fa901efd8_dba75468cf" tabindex="-1"
                                        value=""></div>
                                <div class="clear">
                                    <!--  <input type="submit" :value="formData.typeData == 'VW' ? translations.btnLabels.labelSubscribeStepsVolunteering : translations.btnLabels.labelSubscribeStepsProjects" name="subscribe"
                                             id="mc-embedded-subscribe"
                                             class="btn btn-block btn-rounded btn-color-brand-secondary mt-3"
                                      @click="clearFieldsAfterSubmit"> -->
                                    <button type="submit"
                                            id="mc-embedded-subscribe"
                                            name="subscribe"
                                            form="mc-embedded-subscribe-form"
                                            @click="clearFieldsAfterSubmit"
                                            class="btn btn-block btn-rounded btn-color-brand-secondary mt-3">
                                    <span v-if="formData.typeData == 'VW' ">
                                        {{translations.btnLabels.labelSubscribeStepsVolunteering}}</span>
                                        <span v-else>{{translations.btnLabels.labelSubscribeStepsProjects}}</span>
                                    </button>
                                    <a href="https://www.giveaday.be/nl-be/gebruikersvoorwaarden" target="_blank"
                                       class="legal mt-2"> {{translations.labels.labelLegalTitle}}</a>
                                </div>
                                <div class="mt-2">

                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </section>
                    <!-- end section sign-up form teachers -->


                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        components: {},
        data() {
            return {
                backgroundImageSignUp: require('../assets/images/sign_up.png'),
                formData: {
                    firstName: '',
                    lastName: '',
                    emailAddress: '',
                    KeepMePosted: '',
                    typeData: 'P',
                }

            }
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },
        methods: {
            switchTypeUser() {
                if (this.formData.typeData == "P") {
                    this.formData.typeData = "VW";
                } else {
                    this.formData.typeData = "P";
                }
                this.reinitFormFields();
            },
            scrollToInfoSection() {
                let element = document.getElementById("contentDownload");
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            },
            reinitFormFields() {
                document.getElementById("mce-FNAME").value = "";
                document.getElementById("mce-LNAME").value = "";
                document.getElementById("mce-EMAIL").value = "";
                document.getElementById("mce-ORG").value = "";
            },
            clearFieldsAfterSubmit() {
                setTimeout(this.reinitFormFields, 3000);
            }
        }
    }

</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";

    .title {
        font-family: $brand-font-title;
        font-weight: 700;
        color: $navy-blue;
        font-size: 2em;
    }

    .text {
        font-family: $brand-font-title;
        font-size: 1em;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5 !important;
        letter-spacing: normal;
    }
</style>
