<template>
    <div id="contactForm" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1>{{translations.contactForm.title}}</h1>
                <h5 class="mt-3">{{translations.contactForm.description}}</h5>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="mx-auto col-xl-6 col-lg-6 col-sm-12">
                <form>
                    <div class="form-group">
                        <label for="firstName">{{translations.labels.labelFirstName}}</label>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               :placeholder="translations.placeholders.placeholderFirstname"
                               v-model="formData.firstName"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">{{translations.labels.labelLastName}}</label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               :placeholder="translations.placeholders.placeholderLastname"
                               v-model="formData.lastName"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="email">{{translations.labels.labelEmailAddress}}</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               aria-describedby="emailHelp"
                               :placeholder="translations.placeholders.placeholderEmailAddress"
                               v-model="formData.emailAddress"
                               required>

                        <small id="emailHelp" class="form-text text-muted">{{translations.labels.labelEmailWarning}}</small>
                    </div>
                    <div class="form-group">
                        <label for="message">{{translations.labels.labelSendMessage}}</label>
                        <textarea
                                class="form-control"
                                id="message"
                                rows="5"
                                v-model="formData.message"
                                required>

                        </textarea>
                    </div>

                    <button type="submit"
                            class="btn btn-block btn-rounded btn-color-brand-secondary"
                            @click="sendMail">

                        <span>{{translations.btnLabels.labelSendMessage}}</span>
                    </button>
                    <div class="mt-2">
                        <a href="https://www.giveaday.be/nl-be/gebruikersvoorwaarden"
                           target="_blank"
                           class="legal">
                            {{translations.labels.labelLegalTitle}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapState} from "vuex";

    export default {

        data() {
            return {
                formData: {
                    firstName: '',
                    lastName: '',
                    emailAddress: '',
                    KeepMePosted: '',
                    message: '',
                },
            }
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },
        methods: {
            sendMail(){
                if (this.formData.emailAddress != '' && this.formData.lastName != '' && this.formData.firstName != '' && this.formData.message != '') {

                    let fromMail = this.formData.emailAddress;
                    let mailTo = 'michaelwalthery@telenet.be';
                    let fullName = this.formData.firstName + ' ' + this.formData.lastName;
                    let message = this.formData.message;
                    let subject = 'Hallo Nik, ' + fullName + ' had graag wat meer informatie gewenst over De Vooruitdaging';
                    window.open('mailto:'+mailTo+'?cc='+fromMail+'&bcc=info@giveaday.be&subject='+subject+'&body='+message);
                }

            }
        }
    }
</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";

</style>
