<template>
  <div>
    <transition name="fade">
      <div
        class="card"
        style="width: 18rem;"
        id="cookiebox"
        v-if="cookieBoxVisible"
      >
        <img class="card-img-top" :src="imageURL" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{translations.cookies.title}}</h5>
          <p class="card-text">
            {{translations.cookies.description}}
          </p>
          <button class="btn btn-primary btn-block" @click="setCookieForGA">
            {{translations.labels.labelConfirmCookies}}
          </button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import { mapState } from "vuex";

  export default {
  data() {
    return {
      cookieBoxVisible: true,
      listImages: [
        { image: "cookies.gif" },
        { image: "cookies1.gif" },
        { image: "cookies2.gif" },
        { image: "cookies3.gif" },
        { image: "cookies4.gif" }
      ],
      image: "",
      imageURL: ""
    };
  },
    computed: {
      ...mapState({
        ToggleDayAndNight: "ToggleDayAndNight",
      }),
      translations() {
        return this.$store.state.translations[this.$store.state.currentLanguage];
      },
      ToggleDayAndNight: {
        get() {
          return this.$store.getters.ToggleDayAndNight;
        },
        set(value) {
          this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
        }
      },
    },
  methods: {
    setCookieForGA() {
      let cookiesAccepted = "accepted";
      this.$cookies.set("COOKIEBOX", cookiesAccepted, "1y");
      this.cookieBoxVisible = false;
    },
    setImageCookieBox() {
      let value = Math.floor(Math.random() * this.listImages.length);
      this.image = this.listImages[value].image;
      this.imageURL = require("@/assets/images/" + this.image);
    },
    getCookies() {
      let cookiesAccepted = this.$cookies.get("COOKIEBOX");
      if (cookiesAccepted == "accepted") {
        this.cookieBoxVisible = false;
      } else {
        this.cookieBoxVisible = true;
      }
    }
  },
  created() {
    this.setImageCookieBox();
    this.getCookies();
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/scss/main.scss";
@import "src/assets/scss/cookiebox.scss";
</style>
