<template>
    <div>
        <div id="footer" class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-xl-8 col-sm-12 col-md-12 text-left mt-2">
                    <div class="row"></div>
                    <span class="d-block">{{translations.footer.branded}}</span>
                    <a href="https://www.giveaday.be/" target="_blank" rel="noreferrer" class="legal" style="font-size: 1em;">{{translations.labels.labelMoreInfo}}</a>
                    <div class="mt-3 mb-2">
                        <a href="mailto:info@giveaday.be" class="footer-label">{{translations.labels.labelContact}}</a>
                        <a href="https://www.giveaday.be/nl-be/gebruikersvoorwaarden" target="_blank" rel="noreferrer" class="footer-label">{{translations.labels.labelPrivacyTermsConditions}}</a>
                        <!--<a href="" class="footer-label"> Media</a>-->
                    </div>


                </div>

                <div class="col-lg-4 col-xl-4 col-sm-12 col-md-12 text-right mt-2">
                    <div class="row"></div>
                    <span class="d-block">© {{currentYear}} - De vooruitdaging</span>
                    <div class="text-right mb-2">
                        <a
                                                    :href="social.link"
                                                    target="_blank"
                                                    class="footer-icon"
                                                    v-for="social in networks.data.social"
                                                    :key="social.name"
                                                    v-if="social.active"
                                            ><font-awesome-icon :icon="['fab', social.icon]"
                                            /></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import data from "@/assets/data/general/general.json";
    import { mapState } from "vuex";

    export default {
        data() {
            return {
                currentYear: "",
                networks: data,

            };
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },
        methods: {
            getCurrentYear() {
                let d = new Date();
                let y = d.getFullYear();
                return (this.currentYear = y);
            }
        },
        created() {
            this.getCurrentYear();
        }
    };
</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";
#footer{
    font-size: 0.75em;
    background-color: $pink;
    color: $navy-blue;
    font-family: $brand-font-body;
}
    .footer {
        bottom: 0;
        display: block;
        font-size: 12px;
        font-weight: 300;
        background-color: $pink;
        color: $navy-blue;
        &-label{
            margin-right: 1em;

        }
        &-icon{
            color: $navy-blue;
            margin-left: 0.5em;
            font-size: 1.5em;
        }
    }
    a, .legal:hover {
        text-decoration: none;
        color: $black;

        &::after {
            margin-left: 1.5em;
        }
    }
</style>
