<template>
    <div>
        <div id="header" class="fixed-top navbar-light bg-light">
            <nav class="navbar navbar-expand-lg ">
                <router-link
                        to="/"
                        class="navbar-brand"
                        tag="a">
                    <img :src="require('../assets/images/logo/Vooruitdaging_logo_navy_blue_full_RGB.svg')"
                         alt="hero_image" style="width: 50px; height: 50px;" class="d-inline-block align-top">
                </router-link>
                <!-- <a class="navbar-brand" href="#">Michaël Walthery</a>-->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="true"
                        aria-label="Toggle navigation"
                        @click="isDropdownOpen = !isDropdownOpen"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                        class="collapse navbar-collapse navbar-right float-right mr-auto"
                        id="navbarNav"
                        :class="{ show: isDropdownOpen }"
                >
                    <div class="navbar-text navbar-right float-right ml-lg-auto ml-sm-auto">
                        <ul class="navbar-nav text-right">
                            <a class="nav-link" href="https://www.giveaday.be/nl-be/vrijwilligerswerk/zoeken" target="_blank" rel="noreferrer" style="cursor: pointer;">{{translations.labels.labelSearchVolunteering}}</a>
                            <a class="nav-link" @click="scrollTo" style="cursor: pointer;">Top</a>
                            <!--<router-link to="/" class="nav-item">
                                <li class="nav-link">
                                    Home
                                </li>
                            </router-link>-->
                            <!--<router-link to="/case" class="nav-item">
                                <li class="nav-link">
                                    Case
                                </li>
                            </router-link>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        data() {
            return {
                isDropdownOpen: false,
            };
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },

        methods: {
            scrollTo() {
                let element = document.getElementById("hero");
                element.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                    inline: "nearest"
                });
            }
        }

    }
</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";

    #nav {
        padding: 30px;
        position: fixed;
        //background-color: none;
        a {
            font-weight: bold;
            color: white !important;

            &.router-link-exact-active {
                color: #7fa4ca;
            }
        }
    }

    ul > a {
        color: $white !important;
    }

    .bg-light {
        background-color: rgba(255, 255, 255, 0.4) !important;
        -webkit-box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.2);
    }

    .bg-colored {
        background-color: $coral-red;
    }

    .blur {
        z-index: 990;
        -webkit-filter: blur(50px);
        -moz-filter: blur(50px);
        -o-filter: blur(50px);
        -ms-filter: blur(50px);
        filter: blur(50px);
    }

    .navbar-toggler {
        border-color: $navy-blue !important;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1em;
        font-weight: 300;
        color: $navy-blue !important;
        border-color: $navy-blue !important;
    }

    :hover {
        ul > a {
            text-decoration: none;
        }
    }


</style>

