<template>
    <div id="partnerships" class="container text-center mb-5 mt-2">
        <h1 class="mb-2 mt-3 feature-title" style="color: #002073" >{{translations.labels.labelPartners}}</h1>
        <div class="row">
            <div class="col-lg-3 col-sm-6" v-for="(item,i) in logoPartners" :key="i">
                <a :href="item.link" target="_blank" rel="noreferrer"><img :src="item.img" :alt="item.alt" class="logo"></a>
            </div>
        </div>
    </div>

</template>

<script>
    import {mapState} from "vuex";

    export default {
        data(){
            return{
                src: "require('@/assets/images/logo/'",
                logoPartners: [
                    { img: require('@/assets/images/logo/giveaday.svg'), alt: "logo_giveaday", link: "https://wwww.giveaday.be" },
                    { img: require('@/assets/images/logo/vlaanderen.svg'), alt: "logo_vlaanderen", link: "https://www.vlaanderen.be/" },
                    { img: require('@/assets/images/logo/vvsg.svg'), alt: "logo_vvsg", link: "https://www.vvsg.be/" },
                    { img: require('@/assets/images/logo/comundos.png'), alt: "logo_comundos", link: "https://www.comundos.org" },
                ]
            }
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },
    }
</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";
    @import "src/assets/scss/features.scss";

    .logo{
        margin: 0.75em;
        height: 60px;
        transition: 0.5s;
    }
    a:hover{
        .logo{
            transform: scale(1.05);
            transition: 0.5s;

        }
    }
</style>
