<template>
  <div>
    <div class="d-none d-md-inline d-lg-inline d-xl-inline" id="scrollTop">
      <font-awesome-icon
        class="scrollTop__button"
        :icon="[this.iconType, this.icon]"
        :class="[
          scrollTopButton ? scrollTopButtonActive : '']"
        @click="scrollToTop"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "ScrollToTop",
  data() {
    return {
      scrollTopButton: false,
      scrollTopButtonActive: "scrollTop__button__active"
    };
  },
  props: {
    id: {
      type: String,
      default: "hero",
      required: false
    },
    icon: {
      type: String,
      default: "angle-double-up",
      required: false
    },
    iconType: {
      type: String,
      default: "fal",
      required: false
    },
    visibleOffset: {
      type: Number,
      default: 120,
      required: false
    }
  },
  computed: {
  },
  methods: {
    scrollButtonVisible() {
      //let pastTopOffset = window.pageYOffset;
      let pastTopOffsetDocument = document.body.scrollTop;
      let pastTopOffsetDocumentElement = document.documentElement.scrollTop;
      if (
        pastTopOffsetDocument >= this.visibleOffset ||
        pastTopOffsetDocumentElement >= this.visibleOffset
      ) {
        this.scrollTopButton = true;
        //console.log("scroll_button_added");
      } else {
        this.scrollTopButton = false;
        //console.log("scroll_not_added");
      }
      //console.log(pastTopOffset);
    },
    scrollToTop() {
      let element = document.getElementById(this.id);
      element.scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "nearest"
      });
    }
  },
  mounted() {
    window.addEventListener("scroll", this.scrollButtonVisible);
  }
};
</script>

<style scoped lang="scss">
  @import "src/assets/scss/main.scss";

  .scrollTop {
  position: fixed;
  right: 50px;
  bottom: 90px;
  transition: 0.5s;

  &__button {
    @extend .scrollTop;
    color: $coral-red;
    font-size: 1.5em;
    transition: 0.25s ease-in-out;
    display: none;

    &__active {
      display: block;
      transition: 0.25s ease-in-out;
      z-index: 10;
      transition: 0.5s;
    }
  }
  &:hover {
    transition: 0.25s;
    transform: scale(1.5);
  }
}
</style>
