<template>
  <div>
    <ul
      class="social-icon-position text-center d-none d-md-block d-lg-block d-xl-block"
    >
      <li v-for="social in networks.data.social" :key="social.name">
        <a :href="social.link" target="_blank" rel="noreferrer" v-if="social.active">
          <font-awesome-icon class="social-icon" :icon="['fab', social.icon]" />
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import data from "@/assets/data/general/general.json";

export default {
  data() {
    return {
      networks: data,
      night: "toggle--state--night",
      day: "toggle--state--day"
    };
  },
  computed: {
    ToggleDayAndNight: {
      get() {
        return this.$store.getters.ToggleDayAndNight;
      },
      set(value) {
        this.$store.commit("setToggleDayAndNight", value);
      }
    }
  }
};
</script>

<style scoped lang="scss">
  @import "src/assets/scss/main.scss";

  ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  color: $white;
}

.social-icon {
  font-size: 30px;
  margin: 4px;
  padding: 4px;
  right: 35px;
  transition: 0.5s;

  &-position {
    top: 0px;
    //width: 40px;
    position: absolute;
    right: 35px;
    z-index: 1000;
  }

  &:hover {
    color: $sky-blue;
    transition: 0.5s;
    transform: scale(1.5);
  }
}

.visible {
  display: block;
}
</style>
