<template>
    <div id="subscribeNewsletter" class="container-fluid" style="background-color: white">

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mt-5 mb-5 mx-auto">
                <div class="card drop-shadow" style="height: auto; border: none;">
                    <img :src="require('../assets/images/logo/Vooruitdaging_logo_navy_blue_full_RGB.svg')" alt="logo"
                         style="width: 100px; height: 100px;" class="d-inline-block align-top mt-3 mx-auto">
                    <div class="card-body">
                        <div class="col-12 newsletter text-center">
                            <p class="d-inline" style="margin-right: 0.5em;"> {{translations.text.textSubscribeNewsletter}} </p> <span class="d-inline newsletter-icon">
                        <a
                                :href="social.link"
                                target="_blank"
                                class="newsletter-icon"
                                v-for="social in networks.data.social"
                                :key="social.name"
                                v-if="social.active"
                        ><font-awesome-icon :icon="['fab', social.icon]"
                        /></a>
                    </span>
                        </div>
                        <form action="https://gmail.us4.list-manage.com/subscribe/post?u=4c2724bf79b9b3c0fa901efd8&amp;id=dba75468cf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control " name="EMAIL" id="mce-EMAIL" aria-describedby="emailHelp"
                                       placeholder="Vul je e-mail adres in">
                                <small id="emailHelp" class="form-text text-muted">{{translations.labels.labelEmailWarning}}</small>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4c2724bf79b9b3c0fa901efd8_dba75468cf" tabindex="-1" value=""></div>
                            <button type="submit" class="btn  btn-block btn-rounded btn-color-brand-secondary">
                                <span>{{translations.btnLabels.labelSubscribeNewsletter}}</span>
                            </button>
                            <div class="mt-2 text-left">
                                <a href="https://www.giveaday.be/nl-be/gebruikersvoorwaarden" target="_blank" rel="noreferrer" class="legal">{{translations.labels.labelLegalTitle}}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import data from "@/assets/data/general/general.json";
    import { mapState } from "vuex";

    export default {
        data() {
            return {
                currentYear: "",
                networks: data,

            };
        },
        methods: {
        },
        computed: {
            ...mapState({
                ToggleDayAndNight: "ToggleDayAndNight",
            }),
            translations() {
                return this.$store.state.translations[this.$store.state.currentLanguage];
            },
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set(value) {
                    this.$store.commit("SET_TOGGLEDAYANDNIGHT", value);
                }
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";

    .drop-shadow {
        box-shadow: 0 10px 34px 0 #d5d5d5;
    }

    a {
        text-decoration: none;
        color: $black;
        transition: 0.5s;

        &::after {
            margin-left: 1em;
        }
        &:hover{
            transform: scale(1.5) !important;
            transition: 0.5s;
        }
    }
    .newsletter {
        font-family: $brand-font-title;
        font-size: 1em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;

        &-icon {
            font-size: 1.2em;
            font-family: "Font Awesome 5 Brands";
            margin-right: 0.5em;
            transition: 0.25s;
            &:hover{
                transform: scale(1.5) !important;
                transition: 0.5s;
            }
        }

    }
</style>
