<template>
    <div>
        <div v-for="(item,i) in list" :key="i" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3 mb-5 d-inline-block">
            <div>
                <div class="card mt-3 " style="height: auto; background: none; border: none;">
                    <div class="row">
                        <div class="col-12 text-center">
                            <font-awesome-icon
                                    class="feature-item-icon"
                                    :icon="[item.iconType,item.icon]"
                            />
                        </div>
                        <div class="col-12 text-center">
                            <h1 class="feature-item-title">{{item.title}}</h1>
                        </div>
                        <div class="col-12 card-body text-center">
                            <p class="feature-item-body mt-1">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                featureTitle: 'Wat is de Vooruitdaging?',
            }
        },
        props: {
            list: {
                type: Array,
                required: false
            }
        }
    }

</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";
    @import "src/assets/scss/features.scss";
</style>
