<template>
    <div class="container-fluid" style="background-color: #ffc107;">
        <div class="container">
        <div class="row match-height justify-content-md-center" id="features">
            <div class="col-12 feature-wrapper mt-3">
                <h1 class="feature-title text-center">{{featureTitle}}</h1>
            </div>
            <appFeatureItem :list="features"></appFeatureItem>
        </div>
    </div>
    </div>
</template>

<script>
    import featureItem from './FeatureItem.vue'

    export default {
        name: "Features",
        components: {
            appFeatureItem: featureItem,
        },
        data() {
            return {
                featureTitle: 'Wat is de Vooruitdaging?',
                features: [
                    {
                        id: "1",
                        icon: "osi",
                        iconType: "fab",
                        title: "Open Source",
                        description: "Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful. "
                    },
                    {
                        id: "2",
                        icon: "airbnb",
                        iconType: "fab",
                        title: "Gastvrij",
                        description: "Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful. "
                    },
                    {
                        id: "3",
                        icon: "cube",
                        iconType: "fal",
                        title: "Modulair",
                        description: "Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful. "
                    },
                ],
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "src/assets/scss/main.scss";
    @import "src/assets/scss/features.scss";
</style>
