<template>
    <div id="app" v-if="isLoaded">
        <router-view/>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                greeting: "",
                toggleDayAndNightState: "",
                day: "toggle--state--day",
                night: "toggle--state--night"
            };
        },
        components: {

        },
        computed: {
            ...mapState({
                isLoaded: "translationsLoaded",
                languages: "languages",
                currentLanguage: "currentLanguage",
                toggleDayAndNight: "toggleDayAndNight",
                getDayOrNightState: "getDayOrNightState"
            }),
            ToggleDayAndNight: {
                get() {
                    return this.$store.getters.ToggleDayAndNight;
                },
                set() {
                    this.$store.commit("getDayOrNightState");
                }
            }
        },
        mounted() {
            this.handleRouting();
            this.detectMobile();
        },
        created() {
            this.setToggleDayAndNight();
        },
        methods: {
            handleRouting () {
                this.$router.beforeEach((to, from, next) => {
                    let lang = to.params.lang;
                    if (!lang) {
                        /* No language, but next path contains language */
                        if (to.path.indexOf('fr') > -1) {
                            lang = 'fr'
                            /* No language, use default language */
                        } else if (to.path.indexOf('nl') > -1) {
                            lang = 'nl'
                            /* No language, but language of page where you come from is known */
                        } else if (from.params.lang) {
                            lang = from.params.lang
                        } else {
                            lang = 'en'
                        }
                    }

                    /* If there is a different language, change lang */
                    if (lang !== this.$store.state.currentLanguage) {
                        this.$store.dispatch('getTranslations', { lang: lang })
                    }

                    /* Sending to the right lang slug, if language is french but the path is not french redirect. */
                    let redirect = false;
                    let path = '';

                    if (to.path !== to.meta[lang]) {
                        redirect = true;
                        path = to.meta[lang]
                    }

                    if (redirect) {
                        next({ path: path, params: { lang: lang } })
                    } else {
                        next()
                    }
                })
            },
            setToggleDayAndNight() {
                /*
                let today = new Date();
                let currentHour = today.getHours();
                // is hourNow later then 18 o'clock?
                if (currentHour >= 18) {
                  this.greeting = "Goede avond!";
                  this.toggleDayAndNightState = "toggle--state--night";
                  this.$store.dispatch("SET_TOGGLE", false);
                }
                // is hourNow later then 12pm o'clock?
                else if (currentHour >= 12) {
                  this.greeting = "Goedemiddag!";
                  this.toggleDayAndNightState = "toggle--state--day";
                  this.$store.dispatch("SET_TOGGLE", true);
                }
                // is hourNow later then 12am o'clock?
                else if (currentHour >= 0) {
                  this.greeting = "Goedeochtend!";
                  this.toggleDayAndNightState = "toggle--state--day";
                  this.$store.dispatch("SET_TOGGLE", true);
                } else {
                  this.greeting = "Hallo.";
                  this.toggleDayAndNightState = "toggle--state--day";
                  this.$store.dispatch("SET_TOGGLE", true);
                }
                //console.log(this.dayNight);
                */
                this.$store.dispatch("getDayOrNightState");
            },
            detectMobile() {
                if (
                    navigator.userAgent.match(/Android/i) ||
                    navigator.userAgent.match(/webOS/i) ||
                    navigator.userAgent.match(/iPhone/i) ||
                    navigator.userAgent.match(/iPad/i) ||
                    navigator.userAgent.match(/iPod/i) ||
                    navigator.userAgent.match(/BlackBerry/i) ||
                    navigator.userAgent.match(/Windows Phone/i)
                ) {
                    //console.log("mobile true");
                } else {
                    //console.log("mobile false");
                }
            }
        },

    };
</script>

<style lang="scss">
    @import "assets/scss/main.scss";
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    @import url("https://use.typekit.net/hbw3izp.css");


    #app {
        background-color: #F2F2F2;
        font-family: 'Open Sans', sans-serif;
    }
</style>
